<div class="row">
<div class="col-lg-6">



<%= form_for(@person, :html => {:multipart => true}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :interests %><br>
    <%= f.text_field :interests, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :hobbies %><br>
    <%= f.text_field :hobbies, class: "form-control" %>
  </div>
    <div class="field form-group">
      <%= f.label :status %><br>
      <%= f.text_field :status, class: "form-control" %>
    </div>
  <div class="field form-group">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>