<p id="notice"><%= notice %></p>
<h1><%= @group.name %><br /><small><%= @group.description %></small></h1>
<hr />
<% @group.people.each do |person| %>
    <%= image_tag person.photo_url %>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %>
