<h1><%= @group.name %><br /><small><%= @group.description %></small></h1>
<% if @group.people.include? current_person %>
    <%= link_to 'Edit Group', edit_group_path(@group), class: "btn btn-default" %>
<% end %>
<hr />
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">About the Group</div>
      <div class="panel-body">
        <p>
          <%= @group.about %>
        </p>
      </div>
      </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Group Members</div>
      <div class="panel-body">
        <% @group.people.each do |person| %>
            <%= link_to person do %>
              <%= image_tag person.photo_url, size: "64" %>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_group_path(@group) %>
