<%= form_for(@wall_post) do |f| %>
    <% if @wall_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall_post.errors.count, "error") %> prohibited this wall_post from being saved:</h2>

      <ul>
      <% @wall_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <div class="actions">
    <%= hidden_field_tag :person_id, @person.id %>
    <%= f.submit %>
  </div>
<% end %>
