<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @wall_post.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @wall_post.date %>
</p>

<p>
  <strong>Person:</strong>
  <%= @wall_post.person %>
</p>

<%= link_to 'Edit', edit_wall_post_path(@wall_post) %> |
<%= link_to 'Back', wall_posts_path %>
